<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace=" admin/base::layout(~{::section})"
>
<head>

</head>
<body>
<section class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4">
            <th:block th:each="bread,breadStart : ${session.breadcrumbs}">
                <a th:href="${bread.breadLink}" th:class="${breadStart.first ? 'text-muted fw-light' : ''}"
                   th:text="${bread.breadName}">

                </a>
                <span th:if="${not breadStart.last}">/</span>
            </th:block>

        </h4>

        <!-- Basic Layout -->
        <form  class="row" id="myForm" th:object="${product}"  action="#" method="post" >
            <div class="col-xl">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Basic Layout</h5>

                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Launch
                        </button>
                        <button
                                type="button"
                                class="btn btn-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#fullscreenModal"
                        >
                            Launch modal
                        </button>

                    </div>
                    <div class="card-body">
                        <div >
                            <div class="divider divider-info">
                                <div class="divider-text">Product</div>
                            </div>

                            <div class="divider divider-info">
                                <div class="divider-text" id="categorySelected"></div>
                            </div>
                            <th:block  th:replace="~{/admin/product/product}">

                            </th:block>
                            <th:block th:if="${categoryViewName}">
                                <div id="inputFieldsContainer" th:include="~{${categoryViewName}}">

                                </div>
                            </th:block>

                            <button type="submit" th:if="${param.categoryId}"
                                    th:formaction="'/admin/product/management/' + ${categoryName}+ '/create'"
                                    th:formmethod="post"
                                    class="btn btn-primary">Create
                            </button>
                            <button type="submit"
                                    th:formaction="'/admin/product/management/' + ${categoryName}+ '/update/' +${product.id}"
                                    th:formmethod="POST"
                                    class="btn btn-primary">Update
                            </button>
                            <button type="submit"
                                    th:formaction="'/admin/product/management/' + ${categoryName}+ '/delete/' +${product.id}"
                                    th:formmethod="POST"
                                    class="btn btn-primary">Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <select th:onchange="'window.location.href = \'' + @{/admin/product/category/new} + '?categoryId=\' + this.value ' " id="selectCategories" th:field="*{category}" class="form-select float-end w-25 sticky-top" aria-label="Default select example"
                            >
                                <option selected value="">Categories</option>
                                <option th:each="category : ${categories}" th:value="${category.catalogId}"
                                        th:text="${category.name}"
                                        data-bs-dismiss="modal"
                                ></option>

                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>


    </div>

    <div class="modal fade " id="fullscreenModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalFullTitle">Modal title</h5>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <div>
                        <table class="table w-100">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Discount</th>
                                <th>Brand_id</th>
                                <th>Catalog_id</th>
                                <th>Product_line_id</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- Hiển thị danh sách sản phẩm trên trang -->
                            <th:block th:each="product : ${page.content}">
                                <tr>
                                    <th scope="row" th:text="${product.getId()}"></th>
                                    <td th:text="${product.getName()}"></td>
                                    <td th:text="${product.getPrice()}"></td>
                                    <td th:text="${product.getDisCount()}"></td>
                                    <td th:text="${product.brand != null ? product.brand.brandId: 'Null'}"></td>
                                    <td th:text="${product.category != null ? product.category.catalogId: 'Null'}"></td>
                                    <td th:text="${product.productLine != null ? product.productLine.productLineId: 'Null'}"></td>
                                    <td><a th:href="@{'/admin/product/EDIT/'+${product.id}}">Edit</a></td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                        <div class="pagination">
                            <ul>
                                <li th:if="${page.number >= 0}">
                                    <a th:href="@{'/admin/product/management?page='+${page.number - 1}+'&pageSize='+${page.size}}">&laquo; Previous</a>
                                </li>
                                <li th:each="pageNumber : ${#numbers.sequence(1, page.getTotalPages())}" th:class="${page.number == page.numberOfElements ? 'active' : ''}">
                                    <a th:href="@{'/admin/product/management?page='+${pageNumber}+'&pageSize='+${page.size}}" th:text="${pageNumber}"></a>
                                </li>
                                <li th:if="${page.number < page.totalPages}">
                                    <a th:href="@{'/admin/product/management?page='+${page.number + 1}+'&pageSize='+${page.size}}">Next &raquo;</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
    </div>

</section>

</body>
</html>