<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="base::layout(~{::section})">
<head>

</head>
<body>


<section  class="container-fluid mt-4 mb-4">
    <div class="container">
        <div class="row" >
            <div class="col-12 col-sm-12 col-md-12 col-lg-7 border card mt-2">
                <table class="table  ">
                    <thead>
                    <tr class="text-center">

                        <th class="product-thumbnail"></th>
                        <th class="product-name ">Sản phẩm</th>
                        <th class="product-price">Giá</th>
                        <th class="product-quantity ">Số lượng</th>
                        <th class="product-subtotal">Tạm tính</th>
                    </tr>
                    </thead>
                    <tbody class="align-middle justify-content-center align-content-center">
                    <tr ng-repeat="item in itemsCart">

                        <td class="	d-none d-sm-block"><img class="img-fluid" src="images/product/{{item.product.image}}"
                                                               alt=""></td>
                        <td><a c lass="text-decoration-none"
                               href="#!product/{{item.product.id}}">Laptop Gaming
                            {{item.product.name}}</a></td>
                        <td><span>{{item.product.price | number:0}}₫</span></td>
                        <td class="text-center">
                            <input ng-model="item.quantity" class="w-100 text-center" type="number" min="0" value="">
                            <a class="text-danger fs-2" href=""><i class="bi bi-x"></i></a></td>
                        <td><span ></span></td>
                    </tr>

                    <!-- <tr>
                        <td colspan="6" >sadsa</td>
                    </tr> -->
                    </tbody>
                </table>
            </div>
            <div class="col col-sm col-md col-lg-5 mt-2">
                <div class="border card p-4">
                    <div class="d-flex"><h5 class="fw-bold fs-6 w-100">Cart Totals</h5>
                        <span class="float-end">{{itemsInCart}}</span></div>
                    <div class="mt-3">
                        <table>
                            <tbody>
                            <!-- <tr>
                                <th class="w-100">Tạm tính</th>
                                <td class=""><span class="fw-bold">41,980,000₫</span></td>
                            </tr> -->
                            <tr class="mt-2">
                                <th class="w-100">Tổng</th>
                                <td  class=""><span ng-if="totalPriceFromCart()" class="fw-bold">{{totalPriceFromCart() | number : 0}}₫</span></td>
                            </tr>

                            </tbody>
                        </table>
                        <button class="btn btn-dark w-100 mt-2">Tiến hành thanh toán</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>