<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<section>
    <form ng-controller="checkoutctrl" class="needs-validation" th:action="@{/checkout}" th:object="${orders}" method="post" >
        <div class="container-fluid pt-3 pb-3">

            <div class="container bg-light p-lg-3 p-1 shadow mb-3">
                <div class="fw-bolder">Thông tin thanh toán</div>
                <div>
                    <hr>
                    <div class="mb-3">
                        <label  class="form-label">Họ và tên</label>
                        <div class="text-start text-danger" th:each="err : ${#fields.errors('username')}" th:text="${err}"></div>
                        <input type="text" class="form-control"  th:field="*{username}">
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Địa chỉ email</label>
                        <div class="text-start text-danger" th:each="err : ${#fields.errors('email')}" th:text="${err}"></div>
                        <input type="email" class="form-control" th:field="*{email}">
<!--                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Địa chỉ giao hàng</label>
                        <div class="text-start text-danger" th:each="err : ${#fields.errors('address')}" th:text="${err}"></div>
                        <input type="text" class="form-control"  th:field="*{address}">
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Số điện thoại</label>
                        <div class="text-start text-danger" th:each="err : ${#fields.errors('phoneNumber')}" th:text="${err}"></div>
                        <input type="text" class="form-control"   th:field="*{phoneNumber}">
                    </div>
                    <input type="hidden" th:field="*{totalPrice}">
<!--                    <input type="hidden" th:field="*{ordersDetails}">-->
                </div>
            </div>
            <div class="container bg-light p-lg-3 p-1 shadow mb-3">
                <div class="fw-bolder">PHƯƠNG THỨC VẬN CHUYỂN
                </div>
                <div>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input " type="radio" name="shipping" id="shippingRadioButton" checked>
                        <label class="form-check-label" for="shippingRadioButton">
                            <div class="fw-bold">Giao hàng tiêu chuẩn: 18.000 ₫</div>
                            <div>Thứ Sáu - 16/06</div>

                        </label>
                    </div>


                </div>
            </div>
            <div class="container bg-light p-lg-3 p-1 shadow mb-3">
                <div class="fw-bolder">PHƯƠNG THỨC THANH TOÁN</div>
                <div>
                    <hr>
                    <div class="form-check my-3">
                        <input class="form-check-input " type="radio" name="payment" >

                        <div class="d-flex form-check-label">
                            <div class=""
                                 style="width: 40px;height: 25px; background: url(/icon/svg-icons/ico_airpay.svg) no-repeat center center;">

                            </div>
                            <div class="ms-2">
                                Ví Shopeepay
                            </div>
                        </div>
                    </div>
                    <div class="form-check my-3">
                        <input class="form-check-input " type="radio" name="payment" >

                        <div class="d-flex form-check-label">
                            <div class=""
                                 style="width: 40px;height: 25px; background: url(/icon/svg-icons/ico_mocapay.svg) no-repeat center center;">

                            </div>
                            <div class="ms-2">
                                Ví Moca trên ứng dụng Grab
                            </div>
                        </div>
                    </div>
                    <div class="form-check my-3">
                        <input class="form-check-input " type="radio" name="payment" >

                        <div class="d-flex form-check-label">
                            <div class=""
                                 style="width: 40px;height: 25px; background: url(/icon/svg-icons/ico_zalopayapp.svg) no-repeat center center;">

                            </div>
                            <div class="ms-2">
                                Ví ZaloPay
                            </div>
                        </div>
                    </div>
                    <div class="form-check my-3">
                        <input class="form-check-input " type="radio" name="payment" >

                        <div class="d-flex form-check-label">
                            <div class=""
                                 style="width: 40px;height: 25px; background: url(/icon/svg-icons/ico_momopay.svg) no-repeat center center;">

                            </div>
                            <div class="ms-2">
                                Ví Momo
                            </div>
                        </div>
                    </div>
                    <div class="form-check my-3">
                        <input class="form-check-input " type="radio" name="payment" >

                        <div class="d-flex form-check-label">
                            <div class=""
                                 style="width: 40px;height: 25px; background: url(/icon/svg-icons/ico_zalopayatm.svg) no-repeat center center;">

                            </div>
                            <div class="ms-2">
                                ATM / Internet Banking
                            </div>
                        </div>
                    </div>
                    <div class="form-check my-3">
                        <input class="form-check-input " type="radio" name="payment" checked>

                        <div class="d-flex form-check-label">
                            <div class=""
                                 style="width: 40px;height: 25px; background: url(/icon/svg-icons/ico_cashondelivery.svg) no-repeat center center;">

                            </div>
                            <div class="ms-2">
                                Thanh toán bằng tiền mặt khi nhận hàng
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container bg-light p-lg-3 p-1 shadow mb-3">
                <div class="fw-bolder">MÃ KHUYẾN MÃI/MÃ QUÀ TẶNG</div>
                <div>
                    <hr>
                    <div class="mb-3">


                        <div class="row">
                            <label class="col-sm-2 col-form-label col-lg-2">Mã KM/Quà tặng</label>
                            <div class="col-sm-8 col-lg-10">
                                <input type="text" placeholder="Nhập mã khuyến mãi"
                                       class="form-control rounded-start w-50"
                                       id="inputEmail">
                                <div class="mt-3">
                                    <button type="button" class=" btn btn-primary rounded-end">Áp dụng</button>
                                    <span role="button" class="mx-2 text-primary text-decoration-underline"
                                          data-bs-toggle="modal"
                                          data-bs-target="#selectVoucher">Chọn mã khuyến mãi</span>
                                </div>
                            </div>


                        </div>
                        <div class="modal fade" id="selectVoucher" tabindex="-1" aria-labelledby="selectVoucherLabel"
                             aria-hidden="true" style="">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
                                <div class="modal-content" style="height: 300px;">
                                    <div class="modal-header text-primary position-relative">

                                        <div class="mx-auto" style="top: 25px">
                                            <div class="">
                                                <img src="~/assets/icon/svg-icons/ico_coupon.svg" alt="">
                                                <span class="fw-bold " style="font-size: small;">
                                                    CHỌN MÃ KHUYẾN MÃI</span>
                                                <span class="lead text-black " style="font-size: 12px;">Có thể áp
                                                    dụng đồng thời nhiều mã <img
                                                            src="/icon/svg-icons/ico-alert-grey.svg"
                                                            alt="" srcset="">
                                                </span>
                                            </div>
                                            <div class="input-group mt-2">
                                                <input placeholder="Nhập mã khuyến mãi" type="text"
                                                       class="form-control rounded-start">
                                                <button class=" btn btn-primary rounded-end">Áp dụng</button>

                                            </div>
                                        </div>
                                        <button type="button" class="btn-close position-absolute "
                                                style="top: 10px; right: 5px" data-bs-dismiss="modal"
                                                aria-label="Close"></button>

                                    </div>
                                    <div class="modal-body">
                                        <!-- <div class="voucher_card p-1 position-relative " >
                                                <img class="position-absolute top-0 start-0  img-fluid"   style=" filter: drop-shadow(rgba(0, 0, 0, 0.15) 0px 1px 3px);" src="icon/svg-icons/ico_voucher.svg" alt="" srcset="">
                                                <div class="position-absolute start-0 " style="width: 40px; background: url(icon/svg-icons/Frame_icon_web_light_yellow.svg) no-repeat center center; ">

                                                </div>
                                            </div> -->

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container bg-light p-lg-3 p-1 shadow mb-3">
                <div class="fw-bolder">THÔNG TIN KHÁC</div>
                <div>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                               data-bs-toggle="collapse" data-bs-target="#collapseGhiChu" aria-expanded="false"
                               aria-controls="collapseGhiChu">
                        <label class="form-check-label" for="flexCheckDefault">
                            Ghi chú
                        </label>
                    </div>
                    <div class="my-3 collapse" id="collapseGhiChu">
                        <div class="form-floating w-50">
                            <textarea class="form-control" placeholder="Nhập ghi chú" id="floatingTextarea"></textarea>
                            <label for="floatingTextarea">Ghi chú</label>
                        </div>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"
                               aria-describedby="defaultCheck1Feedback" required>
                        <label class="form-check-label text-decoration-none" for="defaultCheck1">
                            <span class="text-danger">Bằng việc tiến hành Đặt Mua, khách hàng đồng ý với các Điều Kiện
                                Giao Dịch Chung được ban hành bởi Xgear: </span>
                            <a href="">Điều khoản sử dụng</a> | <a href="">Chính sách bảo mật thanh toán</a> | <a
                                href="">Chính sách bảo mật thông tin cá nhân</a>
                            | <a href="">Chính sách vận chuyển</a> | <a href="">Chính sách đổi trả - hoàn tiền</a>
                        </label>
                        <div id="defaultCheck1Feedback" class="invalid-feedback">
                            You must agree before submitting.
                        </div>
                    </div>

                </div>
            </div>
            <div class="container bg-light p-lg-3 p-1 shadow mb-3">
                <div class="fw-bold">KIỂM TRA LẠI ĐƠN HÀNG</div>
                <div>
                    <hr>
                    <div class="d-flex p-3 row border-bottom" th:each="p : ${productSelectedInCart}">
                        <div class="col-12 col-lg-6 d-flex justify-content-start mt-3 ">
                            <img class="img-fluid w-auto d-none d-sm-block d-sm-none d-md-block "
                                 th:src="@{'/images/product/'+${p.image}}" alt="">
                            <span class="mx-2 " th:text="${p.productName}">

                            </span>
                        </div>
                        <div class="col col-lg-6 text-end mt-3">
                            <table class="table">
                                <thead>
                                <tr class="text-start">
                                    <th scope="col">Giá gốc</th>
                                    <th scope="col" class="text-center">Số lượng</th>
                                    <th scope="col" class="text-end">Giá đã giảm</th>
                                </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                <tr class="">

                                    <td class="text-start"><span class=""
                                              th:text="${#numbers.formatDecimal(p.price,3,'POINT',0,'COMMA')} + '₫'"></span></td>
                                    <td class="text-center"><span class="" th:text="${p.quantity}"></span></td>
                                    <td class="text-end"><span class="text-warning "
                                              th:text="${#numbers.formatDecimal((p.price -(p.price * p.disCount / 100)),3,'POINT',0,'COMMA')} + '₫'"></span></td>
                                </tr>

                                </tbody>
                            </table>
                            <table class="table">
                                <thead>
                                <tr class="text-start">

                                    <th scope="col" class="text-center fw-bold">Tổng</th>

                                </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                <tr>
                                    <td rowspan="3" class="text-center text-danger fs-4"
                                        th:text="${#numbers.formatDecimal((((p.price -(p.price * p.disCount / 100))*p.quantity )),3,'POINT',0,'COMMA')} + '₫'"
                                    ></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="position-sticky bottom-0 shadow w-100 bg-light bg-opacity-75">
            <div class=" container p-2">
                <div class="text-end">
                    <div class="d-none d-md-block  d-none d-lg-block ">
                        <div class="w-100 d-flex my-2">
                            <div class="w-75">Thành tiền:
                            </div>
                            <div class="w-25" th:text="${#numbers.formatDecimal(totalPriceAfterDisCount,3,'POINT',0,'COMMA')} + '₫'"></div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-75">Phí vận chuyển (Giao hàng tiêu chuẩn):
                            </div>
                            <div class="w-25">18.000₫</div>
                        </div>
                    </div>
                    <div class="w-100 d-flex my-2">
                        <div class="w-75 fw-bold fs-4">Tổng Số Tiền (gồm VAT):
                        </div>
                        <div class="w-25 text-warning fs-5" th:text="${#numbers.formatDecimal(totalPriceAfterDisCount -18000,3,'POINT',0,'COMMA')} + '₫'"></div>
                    </div>
                </div>
                <hr>
                <div>
                    <div class=" d-flex my-2">
                        <div class="d-none d-md-block  d-none d-lg-block">
                            <a th:href="@{/cart}"><i class="bi bi-arrow-left "></i> Quay về giỏ hàng</a>
                        </div>
                        <button type="submit" class="btn btn-danger  ms-auto ">Xác nhận thanh toán</button>

                    </div>
                </div>
            </div>
        </div>
    </form>


    <style>
        .stickContact {
            bottom: 30% !important;
        }
    </style>
    <script>
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>
</section>

</body>
</html>