* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0px;
    margin: 0 auto;
    /* background-color: lightgray; */
    font-family: "Roboto", Sans-serif;
    background-color: #f1f1f1;
    overflow-x: hidden;
}

footer {
    background-color: rgb(212, 212, 212);
}
#collapseCart, .collapsing {
    transition: none;
}
#autocomplete-suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    display: none;
}

#autocomplete-suggestions ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#autocomplete-suggestions li {
    cursor: pointer;
    padding: 5px;
}

#autocomplete-suggestions li:hover {
    background-color: #f1f1f1;
}
#navHotline {
    color: ghostwhite;
}
.btn.disabled, .btn:disabled, fieldset:disabled .btn {
    color: var(--bs-btn-disabled-color);
    pointer-events: none;
    background-color: var(--bs-btn-disabled-bg);
    border-color: var(--bs-btn-disabled-border-color);
    opacity: var(--bs-btn-disabled-opacity);
}
#navHotline:hover {
    color: #0dcaf0;
}
.nav-link:hover {
    color: cornflowerblue;
}

.voucher_card:hover {
    background-color: cyan;

}
.contactIconImg {
    height: 40px;
    width: 40px;
}
a {
    text-decoration: none;
}

 .dropdown:hover > .dropdown-menu {
    display: block;
}
.dropend:hover > .dropdown-sub-menu {
    display: block;
    --bs-dropdown-min-width: 0;
}

.product-title {
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
    word-spacing: 0px;
    font-size: 4mm;
    max-height: 50px;
    overflow-y: hidden;
}

.user-btn:hover > .user-card {
    display: block;
}
.btn-add-cart{
    display: none;
}
.card-product:hover .btn-add-cart{
    display: block;
}
.card-product > .card {

    background: #fff;

    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);

    cursor: pointer;
}

.card-product > .card:hover {
    transform: scale(1.05);

    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}
.not-allowed{
    cursor: not-allowed!important;
}
.card-product:hover .card{
    filter: brightness(60%);
}
.search-typing{
    border-bottom-left-radius: 0; border-bottom-right-radius: 0
}

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
    background: #888;
}


::-webkit-scrollbar-thumb:hover {
    background: #555;
}
