<div class="mb-3">
    <label class="form-label">CPU</label>
    <input type="text" class="form-control" name="cpu" th:field="*{cpu}">
</div>

<div class="mb-3">
    <label class="form-label">Mainboard</label>
    <input type="text" class="form-control" name="mainboard" th:field="*{mainboard}">
</div>

<div class="mb-3">
    <label class="form-label">RAM</label>
    <input type="text" class="form-control" name="ram" th:field="*{ram}">
</div>

<div class="mb-3">
    <label class="form-label">VGA</label>
    <input type="text" class="form-control" name="vga" th:field="*{vga}">
</div>

<div class="mb-3">
    <label class="form-label">SSD</label>
    <input type="text" class="form-control" name="ssd" th:field="*{ssd}">
</div>

<div class="mb-3">
    <label class="form-label">PC Case</label>
    <input type="text" class="form-control" name="pcCase" th:field="*{pcCase}">
</div>

<div class="mb-3">
    <label class="form-label">Power Supply</label>
    <input type="text" class="form-control" name="powerSupply" th:field="*{powerSupply}">
</div>

<div class="mb-3">
    <label class="form-label">HDD</label>
    <input type="text" class="form-control" name="hdd" th:field="*{hdd}">
</div>

<div class="mb-3">
    <label class="form-label">CPU Cooler</label>
    <input type="text" class="form-control" name="cpuCooler" th:field="*{cpuCooler}">
</div>

<div class="mb-3">
    <label class="form-label">Case Fan</label>
    <input type="text" class="form-control" name="caseFan" th:field="*{caseFan}">
</div>