<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div class="mb-3">
  <label class="form-label">Chip</label>
  <input type="text" class="form-control" name="chip" th:field="*{chip}">
</div>

<div class="mb-3">
  <label class="form-label">Card</label>
  <input type="text" class="form-control" name="card" th:field="*{card}">
</div>

<div class="mb-3">
  <label class="form-label">RAM</label>
  <input type="text" class="form-control" name="ram" th:field="*{ram}">
</div>

<div class="mb-3">
  <label class="form-label">Hard Disk</label>
  <input type="text" class="form-control" name="hardDisk" th:field="*{hardDisk}">
</div>

<div class="mb-3">
  <label class="form-label">Bảo hành</label>
  <input type="text" class="form-control" name="baohanh" th:field="*{baohanh}">
</div>

<div class="mb-3">
  <label class="form-label">Screen Size</label>
  <input type="text" class="form-control" name="screenSize" th:field="*{screenSize}">
</div>

<div class="mb-3">
  <label class="form-label">OS</label>
  <input type="text" class="form-control" name="os" th:field="*{os}">
</div>

<div class="mb-3">
  <label class="form-label">LAN</label>
  <input type="text" class="form-control" name="lan" th:field="*{lan}">
</div>

<div class="mb-3">
  <label class="form-label">Wireless LAN</label>
  <input type="text" class="form-control" name="wireLessLan" th:field="*{wireLessLan}">
</div>

<div class="mb-3">
  <label class="form-label">Connector</label>
  <input type="text" class="form-control" name="connector" th:field="*{connector}">
</div>

<div class="mb-3">
  <label class="form-label">Bàn phím</label>
  <input type="text" class="form-control" name="banPhim" th:field="*{banPhim}">
</div>

<div class="mb-3">
  <label class="form-label">Pin</label>
  <input type="text" class="form-control" name="pin" th:field="*{pin}">
</div>

<div class="mb-3">
  <label class="form-label">Weight</label>
  <input type="text" class="form-control" name="weight" th:field="*{weight}">
</div>

<div class="mb-3">
  <label class="form-label">Size</label>
  <input type="text" class="form-control" name="size" th:field="*{size}">
</div>
</body>
</html>