
<div class="mb-3">
    <label class="form-label">Screen Size</label>
    <input type="text" class="form-control" name="screenSize" th:field="*{screenSize}">
</div>

<div class="mb-3">
    <label class="form-label">Aspect Ratio</label>
    <input type="text" class="form-control" name="aspectRatio" th:field="*{aspectRatio}">
</div>

<div class="mb-3">
    <label class="form-label">Panel Type</label>
    <input type="text" class="form-control" name="panelType" th:field="*{panelType}">
</div>

<div class="mb-3">
    <label class="form-label">Display Color</label>
    <input type="text" class="form-control" name="displayColor" th:field="*{displayColor}">
</div>

<div class="mb-3">
    <label class="form-label">Response Time</label>
    <input type="text" class="form-control" name="responseTime" th:field="*{responseTime}">
</div>

<div class="mb-3">
    <label class="form-label">Refresh Rate</label>
    <input type="number" class="form-control" name="refreshRate" th:field="*{refreshRate}">
</div>

<div class="mb-3">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="flickerFree" name="flickerFree" th:field="*{flickerFree}">
        <label class="form-check-label" for="flickerFree">Flicker Free</label>
    </div>
</div>

<div class="mb-3">
    <label class="form-label">Static Contrast Ratio</label>
    <input type="number" class="form-control" name="staticContrastRatio" th:field="*{staticContrastRatio}">
</div>

<div class="mb-3">
    <label class="form-label">Input Connectors</label>
    <input type="text" class="form-control" name="inputConnectors" th:field="*{inputConnectors}">
</div>

<div class="mb-3">
    <label class="form-label">Power Consumption</label>
    <input type="text" class="form-control" name="powerConsumption" th:field="*{powerConsumption}">
</div>

<div class="mb-3">
    <label class="form-label">Wall Mount Pattern</label>
    <input type="text" class="form-control" name="wallMountPattern" th:field="*{wallMountPattern}">
</div>

<div class="mb-3">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="hasSpeakers" name="hasSpeakers" th:field="*{hasSpeakers}">
        <label class="form-check-label" for="hasSpeakers">Has Speakers</label>
    </div>
</div>