<div class="position-fixed end-0  bottom-0  stickContact" style=" max-width: 100px; font-size: 10px;">
  <div class="card rounded-4 mb-2">
    <div class="row d-flex">
      <div class="col-4">
        <a class="text-decoration-none " href="https://zalo.me/1346930217677886477" target="_blank">
          <img class="contactIconImg" th:src="@{images/icons8-zalo-48.png}" alt="">
        </a>
      </div>
      <div class="col">
        <a class="text-decoration-none nav-link fw-bold" href="https://zalo.me/1346930217677886477"
           target="_blank">Chat zalo</a>
        (9h00 - 23h00)
      </div>
    </div>
  </div>
  <div class="card rounded-4 mb-2">
    <div class="row d-flex">
      <div class="col-4">
        <a class="text-decoration-none " href="tel:02871081881" target="_blank">
          <img class="contactIconImg" th:src="@{images/icons8-phone-48.png}" alt="">
        </a>
      </div>
      <div class="col">
        <a class="text-decoration-none nav-link fw-bold" href="tel:02871081881"
           target="_blank">Hotline</a>
        (9h00 - 20h00)
      </div>
    </div>
  </div>
  <div class="card rounded-4 mb-2">
    <div class="row d-flex">
      <div class="col-4">
        <a class="text-decoration-none " href="https://m.me/xgearvietnam" target="_blank">
          <img class="contactIconImg" th:src="@{images/icons8-facebook-messenger-48.png}" alt="">
        </a>
      </div>
      <div class="col">
        <a class="text-decoration-none nav-link fw-bold" href="https://m.me/xgearvietnam"
           target="_blank">Messenger</a>
        (9h00 - 23h00)
      </div>
    </div>
  </div>
</div>
<style>

</style>
